.input-field {
    margin-bottom: 20px;
    
    .input-label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }
    
    .input-text {
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
      display: block;
      font-size: 16px;
      padding: 10px;
      width: 100%;
    
      &.input-text-large {
        width: 400px;
      }
    
      &.input-text-medium {
        width: 300px;
      }
    
      &.input-text-small {
        width: 200px;
      }
    
      &:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 0 2px #007bff33;
      }
    
      &::placeholder {
        color: #ccc;
      }
    
      &:disabled {
        background-color: #f7f7f7;
        color: #999;
        cursor: not-allowed;
      }
    }
    
    .required-field {
      color: #ff0000;
      font-weight: bold;
      margin-left: 5px;
    }
    
  }


  .text-inputs-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }
  